@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    scroll-behavior: smooth;
}

body{
    margin: 0;
    overflow-x: hidden;
}

header {
    background-color: aliceblue;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
}


.logo {
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}


.navication a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 50px;
}
.navication a:hover {
    color: rgb(179, 26, 26);
}


section {
    padding: 100px 200px;
}

.main {
    width: 10 px;
    min-height: 100vh;
    display: flex;
    align-items:center;
    background: url(500.JPG) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}



.main h2 {
    color: white;
    font-size: 30px;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    margin-top: 20px;
    color:  rgb(0, 255, 0);
    font-size: 3em;
    font-weight: 500px;
}


.main h3 {
    color:  rgb(255, 255, 255);
    font-size: 2.6rem;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 1px;
    margin-top: 80px;
    margin-bottom: 30px;
}


.main-btn {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 400;
    display: inline-block;
    padding: 1.2rem;
    letter-spacing: 1px;
    border-radius: 20px;
    transition: 0.4s ease;
    color: rgb(0, 255, 0);
    background-color: #383848;
    margin-left: 15px;
}


 .main-btn:hover {
    background-color: black;
    color: aqua;
}


.title {
    display: flex;
    justify-content: center;
    font-size: 2.2rem;
    font-weight: 800;
    margin-bottom: 30px;
    
}


.contant {
    display: flex;
    justify-content: center;
    text-decoration: row;
    flex-wrap: wrap;
}

.content .title {
    font-size: 40px;
    margin-bottom: 20px;
    color: rgb(254, 254, 255);
}

.card {
   background: url(33.jpg) ;
   background-position: center;
   background-size: cover;
}

.card .title , .about .title{
    justify-content: center;
    display: flex;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 60px;
    color: rgb(255, 255, 255);
}

.card .content ,.about .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}


.card-offers  {
    background-color: antiquewhite;
    border: 2px solid white;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
    padding: 10px;
}

.card-offers:hover {
    transform: scale(1.1);
}
.card-offers:hover .card-image {
    opacity: 0.9;
}

.card-image img {
    width: 100%;
}


.card-info {
    padding: 1em ;
}

.card-category {
    font-size: 0.8em;
    color: rgb(0, 0, 0);
}
.card-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

form h4 {
    color:rgb(0, 255, 0);
    text-align: center;
    font-size: 40px;
    font-weight:500px;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    width: 50%;
}

form input ,
textarea {
    display: block;
    width: 100%;
    left: 150px;
    padding: 20px 15px;
    margin: 20px 0;
    border: none;
    background-color: rgb(255, 255, 255);
}


 .social-icons a {
    color: rgb(163, 230, 38);
    background-color: #383848;
    padding: 15px;
    border-radius: 50%;
    font-size: 20px;
    margin-left: 15px;
}

.social-icons a:hover {
    background-color: black;
    color: aqua;
}

